
.form {
  display: flex;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  margin-top: 44px;
  max-width: 371px;
}

.form-label {
  display: block;
}

.form-input {
  width: 100%;
  outline: transparent;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  padding: 8px 16px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form-input::placeholder {
  color: #808080;
}

.form-btn {
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}